.aboutus {
  display: flex;
  position: relative;
  flex-direction: column;
  .line-h {
    max-width: 1920px;
    height: 8px;
    background: #ffa800;
  }
}

.aboutus-title {
  width: 20vw;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  margin-left: 11.7vw;
  text-align: left;
  margin-top: 145px;
}

.aboutus-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 10.4vw;
  margin-bottom: 115px;
  div {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 20px;

    .aboutus-discription {
      margin: 0px;
      text-align: left;
      font-weight: 400;
      font-size: 24px;
      &:last-child {
        font-weight: 700;
      }
    }
  }
}

.line-v {
  width: 8px;
  height: 100%;
  background-color: #ffa800;
}
