.seats_sheme_plazkart {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 24px;
  top: 100px;
  right: 71px;
  z-index: 10;

  .left-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    .seat-section {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(2, 2fr);
      column-gap: 35px;
    }
    .row {
      display: contents; // Чтобы сохранить сетку в одной структуре
    }

    .btn3class {
      width: 25px;
      height: 31px;
      border: none;
      font-size: 14px;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      transition: background-color 0.3s ease;
      border-radius: 0px;

      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background-color: #d0d0d0;
      }
    }
  }

  .bottom-section {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0px;

    .btn3classSide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 23px;
      border: none;
      font-size: 14px;
      font-weight: bold;
      transition: background-color 0.3s ease;
      border-radius: 0px;

      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background-color: #d0d0d0;
      }
    }
    .btn3classSide:nth-child(2n-1) {
      margin-left: 3px; /* Задайте нужный размер отступа */
    }
  }
}

.scheme {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: end;
  margin-bottom: 81px;
  margin-left: 17px;
  margin-right: 17px;
  img {
    max-width: 926px;
  }
}

.notification {
  width: 199px;
  height: 72px;
  background: #f3f3f3;
  margin-right: 42px;
  text-align: left;
  padding-left: 16px;
  box-sizing: border-box;
}

.scheme-img {
  display: flex;
  position: relative;
  .carriage-num {
    width: 25px;
    height: 20px;
    background-color: #1b1b1b;
    color: #fff;
    position: absolute;
    left: 4.6%;
    text-align: center;
  }
}
