.header-steps {
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 690px;
}
.header_orderPage {
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;

  .image_header_order {
    width: 100%;
    height: 834px;
  }
}
