.header-wrapper {
  display: flex;
  position: relative;
}

.image_header {
  width: 100%;
  max-width: 1920px;
}

.title {
  position: absolute;
  text-align: left;
  top: 400px;
  left: 200px;
  font-size: 72px;
  font-weight: 100;
  color: #ffffff;
  span {
    color: #ffffff;
    font-weight: 700;
    font-size: 72px;
  }
}
