.payType-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 2px 2px 0px #00000040;
}

.payment_type_info {
  display: flex;
  background-color: #ffffff;
  height: 146px;
  padding-left: 33px;
  padding-right: 30px;
  padding-bottom: 22px;
  justify-content: space-between;
  align-items: end;

  span {
    font-size: 24px;
    font-weight: 400;
    color: #292929;
    padding-bottom: 54px;
  }
}
